<nav class="navbar navbar-default navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TestingSite</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/ragistration">Registration</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      
    </div>
  </nav>