<%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>

        <div class="container">
            <div class="row mt-8">
                <h2>Dashboard Page</h2>
                <hr>
                <p id="changetext" style="margin-left: 20rem; font-weight: bolder; color:darkolivegreen;" onclick="buttonClick()">Welcome to Dashboard, Please <a href="/login">Login Here</a> to see your Details
                </p>
            </div>
        </div>

        <script src="js/utd.js"></script>

        <%- include("./partials/footer.ejs") %>