.formdec {
    margin: 5rem 20rem;
    display: grid;
    width: 35rem;
    line-height: normal;
    gap: 2rem;
}

.formbtn {
    margin-right: 2.5rem;
    background-color: black;
    color: goldenrod;
    width: 15rem;
    border-radius: .5rem;

}

.decoration {
    display: flex;
    justify-content: space-around;
    color: darkslateblue;
    font-family: Verdana;
}

.edit {
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-evenly;
    color: lightseagreen;
}

.searchbox{
outline:none;
border: none;
background:none;
font-family: Verdana;
}